.corpo{
width: 100%;
height: 700px;
display: block;
font-family: 'Montserrat', sans-serif;
}

.texto{
margin: 0 auto;
width: 75%;
margin-top: 50px;
text-align: center;
}

.cards{
display: flex;
width: 60%;
margin: 0 auto;
margin-top: 80px;
}

.card{
    width: 240px;
    height: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    background-color: #F6F6F6;
    box-shadow:1px 1px 1px rgba(0.25, 0.25, 0.25, 0.15);
}

.card:hover{
    transform:translateX(5px);
    transform:translateY(5px);
}

.card p{
    margin-top: 0px;
    padding: 10px;
}

.card h3{
    color: #297FDB;
    margin-top: 10px;
}

.card img{
    width: 90px;
    height: 90px;
    margin-top: 15px;
    background-color: #2cc832;

}

.botao{
    display: flex;
    margin-top: 70px;
}

.botao button{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    border: transparent;
    border-radius: 8px;
    background-color: #83E356;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.botao button:hover {
    background-color: #2cc832; /* Cor ao passar o mouse */
  }
  
.botao button:active {
    background-color: #449648; /* Cor ao clicar no botão */
    transform: translateY(2px); /* Adiciona um efeito de "pressionamento" */
}
