.about-us {
    padding: 0 12%;
    
    button {
        padding: 0.8em 2em; 
        font-size: 1.2em;
    }

    span {
        font-weight: 600;
        color: var(--green);
    }
}

.about-us__hero {
    margin: 3rem 0;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
}

#about-us__banner-img {
    width: 60%;
    left: 30vw;
    position: relative;
    bottom: 18vw;
}

h1 {
    color: var(--blue-dark);
    font-weight: 700;
    font-size: 3rem;
    margin: 1rem 0;
}

.about-us__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-us__title {
    width: 150%;
}

.about-us__mvv {
    margin: 3rem 0;
}

.mvv__container {
    display: flex;
    justify-content: space-between;
}

.mvv__card {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #f3f7f9;
    padding: 2em;
    margin: 0.5em;

    img {
        width: 50px;
        margin: 0 7%;
    }

    h3 {
        font-size: 1.3em;
        color: var(--blue-light);
        margin: 0.5em 0;
        font-weight: 700;
    }

    p, 
    li {
        line-height: 140%;
    }

    li {
        margin: 0.5em 0;
    }

    ul {
        list-style: circle;
    }

    span {
        color: var(--blue-dark);
        font-weight: 500;
    }
}

.about-us__social-media {
    margin: 3rem 0;

    h2 {
        font-size: 1.3rem;
        color: var(--blue-dark);
        font-weight: 400;
        text-align: left;
    }

    a {
        text-decoration: none;
        color: black;
        transition: all 0.2s;
    }

    a:hover {
        color: var(--blue-light)
    }

    img {
        height: 1.5em;
    }

}

.social-media__container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin: 1.5em 0;
}

@media screen and (max-width: 800px) {

    .about-us__mvv,
    .about-us__container,
    .mvv__container,
    .mvv__card {
        display: block;
    }

    .mvv__card {
        img {
            margin: 0 auto;
            display: block;
        }

        h3 {
            text-align: center;
        }
    }
}