.agendarReuniao {
    background-color: white;
    padding: 4% 15%;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    text-align: left;
    box-shadow: 2px 4px 8px 5px rgba(0, 0, 0, 0.1);

    button a {
        color: white;
    }
}

.agendarReuniao__text {
    width: 60%;

    h3 {
        color: var(--blue-dark);
        font-family: var(--font-main);
        font-weight: 700;
        font-size: 2em;
    }

    p {
        margin: 1em 0;
    }
}

.agendarReuniao__link  {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;
    text-decoration: none;
    color: var(--black);

    img {
        height: 1.7em;
        width: auto;
    }
}

@media screen and (max-width: 1000px) {
    .agendarReuniao {
        display: block;
    }

    .agendarReuniao__text {
        width: 100%;
        margin-bottom: 2em;
    }
}