/* Estilos gerais do rodapé */
.footer {
    width: 100%;
    height: 300px;
    background-color: var(--blue-dark);
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
  }
  
  /* Estilos para a camada de fundo */
  .footer-background {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
  }
  
  .background-image {
    width: 30%;
    opacity: 0.25;
  }
  
  .logo {
    width: 20%;
    display: block;
    margin: 9%;
  }
  
  /* Estilos para o conteúdo do rodapé */
  .footer-content {
    width: 95%;
    position: relative;
    display: flex;
    top: 30px;
    left: 5%;
    z-index: 20;
    font-weight: bold;
    
  }
  
  .servicesfooter, .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* Estilos para a seção de serviços */
  .servicesfooter h1 {
    color: var(--green);
    font-weight: 'bold',
  }
  
  .links {
    display: grid;
    margin-left: 10px;
  }
  
  .link {
    color:  var(--green);
    text-decoration: none;
    margin-bottom: 10px;
    font-size: larger;
  }
  
  /* Estilos para a seção de contato */
  .contact {
    position: relative;
    width: 18%;
    top: 40px;
    left: 58%;
   
  }
  
  .contact-info {
    display: grid;
    
  }
  
  .social-media {
    display: flex;
    margin-top: 40px;
  }
  
  .instagram-icon {
    height: 50px;
    display: block;
    margin-left: 70px;
  }
  
  .linkedin-icon {
    height: 45px;
    display: block;
    margin-left: 10px ;
  }
  
  .github-icon {
    height: 45px;
    display: block;
    margin-left: 10px;
  }
  
  /* Estilos para o copyright */
  .copyright {
    display: block;
    text-align: center;
    position: relative;
    margin-top: 4%;
    color: var(--green);
  }
  
  .copyright p {
    font-weight:lighter;
    font-size: small;
  }