.footer {
    box-sizing: border-box;
    background: linear-gradient(144deg, rgba(6,19,128,1) 0%, rgba(4,10,61,1) 97%);
    transition: all 1s;
    padding: 0 12%;
    margin-top: 36px;
    width: 100vw;

    h3 {
      color: var(--green);
      text-shadow: 0px 2px 3px black;
      font-weight: 600;
      font-size: 1.1rem;
    }  

    li {
      margin: 1rem 0;
    }
    
    a {
      color: var(--green-hover);
      text-decoration: none;
      transition: all 0.2s;
    }
  
    a:hover {
      color: white;
    }

    p {
      margin: 0;
    }
    
}
.footer__wrapper {
    box-sizing: border-box;
    background-position: center;
    background-repeat: space;
    background-size: 65%; 
    height: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 5% 0;
    overflow-y: hidden;
}

.logo {
  height: 10vw;
}

.footer__social-media {
  display: flex;
  gap: 1rem;
  align-items: center;

  img {
    height: 2.2rem;
  }
}

.copyright {
  color: white;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .footer{
    padding: 5% 12%;
  }
  
  .footer__wrapper {
     display: block;
  }

  .logo {
    display: none;
  }
}