.newsContainer{
    background-color: white;
    margin: 32px 96px;
}

.newsHeader{
    h1{
        font-size: clamp(24px, 5vw, 48px);
        color: black;
    }
    p{
        font-size: clamp(16px, 3vw, 24px);
        color: black;
    }
}

.publication{
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;

    p{
        font-size: clamp(12px, 2vw, 16px);
        color: #626262;
        margin-right: 1em;
    }
}

.image{
    img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .description{
        font-size: clamp(12px, 2vw, 16px);
        color: #626262;
    }
}

.content{
    .paragraph{
        font-size: clamp(16px, 4vw, 32px);
    }
    .subtitle{
        font-size: clamp(20px, 5vw, 40px);
        color: black;
        text-align: left;
    }
}

/*Responsividade*/

@media (max-width: 768px) {
    .newsContainer {
        margin: 16px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .newsContainer {
        margin: 8px;
        padding: 4px;
    }
}
